/.vscode
/csv_files
project_sql/all_posts_avg_sal_post_count.csv
project_sql/all_posts_skill_count_hist.csv
project_sql/all_posts_skill_type_count.csv
project_sql/d_or_b_avg_sal_post_count.csv
project_sql/d_or_b_posts_skill_count.csv
project_sql/d_or_b_top_10_skills.csv
project_sql/top_jobs_with_skills.csv
